<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>QuestLine | 401</title>
    <link href="/static/CSS/401.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
</head>
<body>
<header>
        <div class="box-logo">
            <a class="logo" href="/">QuestLine</a>
        </div>
</header>
<div class="container">
    <div class="text-box">
        <div class="title">
            <p>401, you are not connected</p>
        </div>
        <div class="text">
            <p> Please log in and grab a coffee to continue your exercises </p>
            <a href="/login">Sign In</a>
        </div>
    </div>
    <div class="img-box">
        <img src="/static/SRC/goffee.png" alt="Goffee"></img>
    </div>
</div>
</body>
</html>