<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404</title>
    <link href="/static/CSS/404.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
</head>
<body>
<header>
    <div class="box-logo">
        <a class="logo" href="/">GoLearn</a>
    </div>
</header>
<div class="container">
    <div class="text-box">
        <div class="title">
            <p>404, Page not found</p>
        </div>
        <div class="text">
            <p> Go back to GoLearn </p>
            <a href="/">GoLearn</a>
        </div>
    </div>
    <div class="img-box">
        <img src="/static/SRC/gopher404.png" alt="404"></img>
    </div>
</div>
</body>
</html>