<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{.Title}}</title>
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/static/CSS/exercicePage.css">
    <!-- CodeMirror -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.52.2/codemirror.min.css"></link>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.52.2/codemirror.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.38.0/mode/go/go.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.52.2/theme/darcula.min.css">
    <script type="text/javascript" src="plugin/codemirror/lib/codemirror.js"></script>
</head>
<body>
    <header>
        <div class="box-logo">
            <h1 class="logo">GoLearn</h1>
        </div>
        <div class="links"></div>
        <div class="buttons">
        {{if .IsConnected}}
            <p style="color: #F6D2A2;font-size: 1.2rem;">Welcome {{.User}}</p>
            <a class="signup-button" href="/logout">Logout</a>
        {{else}}
            <a class="login-button" href="/login">Login</a>
            <a class="signup-button" href="/signup">Sign Up</a>
        {{end}}
        </div>
    </header>
    <div class="content">
        <div class="nav">
            <p class="title">Exercices</p>
            <div class="links">
                {{range .ExercicesList}}
                    <a class="exercice-link" href="/exercice/{{.ExerciceName}}">
                        <p class="link-title" style="padding-left: 2%;">{{.ExerciceName}}</p>
                        {{if .ExerciceDone}}
                            <svg class="ping" width="64px" height="64px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M12 21C16.9706 21 21 16.9706 21 12C21 7.02944 16.9706 3 12 3C7.02944 3 3 7.02944 3 12C3 16.9706 7.02944 21 12 21Z" fill="#006400"></path> </g></svg>                         
                        {{else}}
                            <svg class="ping" width="64px" height="64px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M12 21C16.9706 21 21 16.9706 21 12C21 7.02944 16.9706 3 12 3C7.02944 3 3 7.02944 3 12C3 16.9706 7.02944 21 12 21Z" fill="#ff0000"></path> </g></svg>
                        {{end}}
                    </a>
                {{end}}
            </div>
        </div>
        <div class="exercice">
            <div class="titleBox">
                <p class="title">{{.ExerciceTitle}}</p>
            </div>
            <div class="prompt">
                <div class="sectionInstruction">
                    <p class="subtitle">Instruction</p>
                    <hr>
                </div>
                <div class="description">
                    <p class="text">{{.ExercicePrompt}}</p>
                </div>
            </div>
            <div class="output">
                <div class="sectionInstruction">
                    <p class="subtitle">Output</p>
                    <hr>
                </div>
                <div class="stdout">
                    <p class="text" id="out">{{.ExerciceOutput}}</p>
                </div>
                <div class="submit">
                    <input class="submitButton" type="button" value="Run Code &#129302;" onclick="sendCode()"></input>
                </div>
            </div>
            <div class="input">
                <div class="sectionInstruction">
                    <p class="subtitle">Your Code</p>
                    <hr>
                </div>
                <div class="codeContainer">
                    <textarea class="code" id="code" name="editor"></textarea>
                </div>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript">

 var editor = CodeMirror.fromTextArea(document.getElementById("code"), {
            styleActiveLine: true,
            lineNumbers: true,
            matchBrackets: true,
            mode: 'text/x-go',
            theme: 'darcula',
});
function sendCode() {
    fetch('/sendCode', {
        method: 'POST',
        headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({
            code: editor.getValue(),
        })
    }).then(resp => resp.json())
  .then(data => {
    document.getElementById("out").innerHTML = data.Result; 
   })
  .catch(err => { console.log(err) });
}
</script>   
</html>